LINK0 = %mem=2gb %nprocshared=10 
OPT_ROUTE = #p b3lyp/6-31g(d) opt freq=noraman
PSEUDO_OPT_ROUTE = #p b3lyp/gen Pseudo=Read opt freq=noraman
TS_ROUTE = #p b3lyp/6-31G(d) opt(ts,calcfc,noeigen) freq=noraman
PSEUDO_TS_ROUTE = #p b3lyp/gen Pseudo=Read opt(ts,calcfc,noeigen) freq=noraman
TITLE = a3
BASIC_SET = 6-31g(d)
PSEUDOPOTENTIAL = LANL2DZ
PSEUDOPOTENTIAL_BASIC_SET = LANL2DZ